<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>WOL Waker</title>
    <link rel='stylesheet' href='stylesheets/bootstrap.min.css' />

    <style type="text/css">
      .waker-node {
        margin: 1rem -15px;
        background-color:#eee;
      }
      .waker-node .card {
        margin: 0.5rem;
      }
    </style>

    <script src="javascripts/zepto.min.js"></script>
    <script type="text/javascript">
      $(function() {
        $(".wakelink").click(function(e) {
          e.preventDefault();
          var link = $(e.target).attr("href");
          $.get(link, function(data) {
            alert(data);
            window.location.reload();
          })
        });
      });
    </script>

  </head>
  <body>
    <div class="container">

        <div class="row d-flex justify-content-between">
          <h1 class="display-3">WOL Waker</h1>
          <h3 class="lead">Online Nodes: <span class="badge badge-primary"><%= _.size(gOnlineDict) %></span></h3>
        </div>

        <% _.forIn(gOnlineDict, function(value, gkey){ %>
        <div class="waker-node">
            <h4 class="lead"><%= value.remote[0] %></h4>
            <div class="row d-flex justify-content-around">
                  <% _.forEach(value.pairs, function(ps, idx) { %>
                  <div class="card" style="">
                    <div class="card-body">
                      <h5 class="card-title"><%= ps[2] %></h5>
                      <h6 class="card-subtitle mb-2"><%= ps[0] %></h6>
                      <h6 class="card-subtitle mb-2 text-muted"><%= ps[1] %></h6>
                      <a class="btn btn-primary wakelink" href="callwake?key=<%=gkey%>&index=<%=idx%>" >WAKE</a>
                    </div>
                  </div>
                  <% }) %>
            </div>
        </div>
        <% }) %>
    </div>  
  </body>
</html>
