<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>WOL Waker</title>
    <link rel='stylesheet' href='stylesheets/bootstrap.min.css' />

    <style type="text/css">
    </style>

    <script src="javascripts/zepto.min.js"></script>
    <script type="text/javascript">
      $(function() {
        $(".wakelink").click(function(e) {
          e.preventDefault();
          var link = $(e.target).attr("href");
          $.get(link, function(data) {
            alert(data);
            window.location.reload();
          })
        });
      });
    </script>
  </head>
  <body>
    <div class="container">

        <h1 class="">WOL Waker</h1>
        <h4 class="d-flex align-items-center">
          Online Nodes: <span class="badge badge-primary"><%= _.size(gOnlineDict) %></span>
        </h4>

        <% _.forIn(gOnlineDict, function(value, gkey){ %>
            <h4 class="mt-4"><%= value.remote[0] %></h4>
            <ul class="list-group">
                <% _.forEach(value.pairs, function(ps, idx) { %>
                  <li class="list-group-item d-flex justify-content-between">
                    <div>
                      <h5 class=""><%= ps[2] %></h5>
                      <h6 class="mb-2"><%= ps[0] %></h6>
                      <h6 class="mb-2 text-muted"><%= ps[1] %></h6>
                    </div>
                    <div class="d-flex align-items-center">
                      <a class="btn btn-primary wakelink" href="callwake?key=<%=gkey%>&index=<%=idx%>" >WAKE</a>
                    </div>
                  </li>
                <% }) %>
            </ul>
        <% }) %>
    </div>  
  </body>
</html>
